.main-section {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 50px 0;
}

.watch-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-left: 30px;
}


.hidden-item {
    display: none;
}

@media only screen and (max-width: 600px) {
    .main-section {
        display: grid;
        grid-template-columns: 1fr;
    }

    .hidden-item {
        display: block;
        font-weight: 400;
    }

    .watch-part {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 30px;
    }
}

@media only screen and (min-width:600px) and (max-width: 768px) {
    .main-section {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .watch-part {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 10px;
    }
}