.selected-items {
    margin-left: 80px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 16px;
}

.selected-items img {
    width: 35px;
    border-radius: 15px;
}

.selected-items p {
    margin: 12px 5px;
}

.remove-item {
    width: 25px;
    color: darkcyan;
    background-color: white;
    border: none;

}

.remove-item:hover {
    color: darkgrey;
}

@media only screen and(max-width: 600px) {
    .selected-items {
        margin: 0 30px;
        font-size: 16px;
    }
}

/* 
@media only screen and(min-width:600px) and (max-width: 768px) {
    .selected-items {
        margin-right: 50px;
        font-size: 50px;
    }
} */