.product-cart {
    border: 1px solid #95A0A7;
    border-radius: 8px;
    text-align: left;
    position: relative;
}

.product-cart img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 6px;
    padding: 0;
}

.product-cart h4 {
    margin: 0;
}

.product-cart p {
    margin-bottom: 0;
    margin-top: 5px;
}


.desc {
    padding: 0 15px;
}

.desc-small {
    margin-top: 20px;
    margin-bottom: 40px;
}

.desc-small p {
    margin: 0;
    padding: 0;
}

.btn {
    width: 100%;
    background: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
}

.btn p {
    margin-right: 5px;
}

.btn:hover {
    background-color: goldenrod;
}